.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background: #000;
}
.header nav a{
    color: white;
    font-size: 20px;
    margin-right:10px;
    line-height: 40px;
    padding:5px;
    text-decoration: none;
}
.header nav a:hover{
    background:gray;
}